.DS_Store
gz_files/
.env
__pycache__
__pycache__/
scripts/__pycache__/downloader_s3.cpython-39.pyc
scripts/__pycache__
*.pyc
*.pyo
__pycache__/
__pycache__
*.py[cod]
models/
.python-version
assets/
huber/
huber
bin/
TODO.md
../.python-version
mlruns/
huber/
.python-version
*.log
TODO.md
wandb/
